body {
font-family: Arial, sans-serif;
background: #f3f3f3;
margin: 0;
padding: 20px;
background-color: #b0b0b0;
}
.card {
background: #fff;
max-width: 700px;
margin: auto;
padding: 20px;
border-radius: 16px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1 {
text-align: center;
border: 10px solid white;
border-radius: 50%;
}
p {
line-height: 1.6;
}

footer {
  text-align: center;
  color: var(--muted);
  font-size: 14px;
  margin-top: 40px;
}

img {
    border-radius: 25%;
}
